name: CI Model Retraining using MLflow

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/examScorePrediction_preprocessing/data_preprocessing.csv'
      - 'MLProject/modelling.py'
  workflow_dispatch: 

jobs:
  run_mlflow_project:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      # 1. Checkout Kode
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Conda Environment
      - name: Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12.7
          
      # 3. Instal MLflow CLI 
      - name: Install MLflow CLI
        shell: bash
        run: |
          conda install -c conda-forge mlflow -y
          
      # 4. Jalankan MLflow Project (Model Retraining)
      - name: Run MLflow Project (Model Retraining)
        shell: bash
        run: |
          mlflow run MLProject -e main
          
      # 5. Upload Artefak MLflow RUN 
      - name: Upload MLflow Artefacts
        uses: actions/upload-artifact@v4
        with:
          name: ci-mlflow-artefacts-${{ github.run_id }}
          path: mlruns/

      # 6. Konfigurasi Git Identity
      - name: Configure Git Identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
      # 7. Commit dan Push Model/Artefak yang Diperbarui
      - name: Commit and Push Updated Model Artefacts
        run: |
          MODEL_PATH='MLProject/examScorePrediction_preprocessing/lr_model.joblib'

          git add $MODEL_PATH || true        
          git commit -m "CI: Automated model retraining and artefact update [skip ci]" || echo "No changes to commit"          
          git push
          
      - name: Workflow Success Message
        run: echo "Model Retraining Complete. Model and MLflow run artefacts saved."
