name: CI Model Retraining using MLflow

on:
  push:
    branches:
      - main
    paths:
      - "MLProject/examScorePrediction_preprocessing/data_preprocessing.csv"
      - "MLProject/modelling.py"
  workflow_dispatch:

jobs:
  run_mlflow_project:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12.7
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml

      - name: Run MLflow Project (Model Retraining)
        shell: bash -el {0}
        working-directory: MLProject
        run: |
          mlflow run . --experiment-name CI_Workflow_Klasifikasi_LogisticRegression

      - name: Upload MLflow Artefacts
        uses: actions/upload-artifact@v4
        with:
          name: ci-mlflow-artefacts-${{ github.run_id }}
          path: MLProject/mlruns/

      - name: Configure Git Identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and Push Updated Model Artefacts
        run: |
          MODEL_PATH='MLProject/examScorePrediction_preprocessing/lr_model.joblib'

          git add $MODEL_PATH || true
          git commit -m "CI: Automated model retraining and artefact update [skip ci]" || echo "No changes to commit"
          git push

      - name: Workflow Success Message
        run: echo "Model Retraining Complete. Model and MLflow run artefacts saved."
